
.userInfoContainer {
    margin: 2rem 0;
    display: grid;
    gap: 20px;
  }


  .title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--softTextColor);
  }
  
  .textInfo {
    display: grid;
    gap: 8px;
  }
  
  .userInfo {
    display: grid;
    gap: 20px;
    outline: 1px solid #00000038;
    padding: 10px;
    border-radius: 5px;
  }
  
  .userInfoTable {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000038;
  }
  
  .icon {
    font-size: 1.3rem;
    color: var(--textColor);
    cursor: pointer;
  }
  
  .name {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--softTextColor);
  }
  
  .input {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--softTextColor);
  }
  
  .btnContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .btn {
    padding: 0.2rem 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 2px;
  }
  
  .saveBtn {
    background-color: #2e7d32;
    outline: #2e7d32 1px solid;
    color: var(--bg);
  }
  
  .cancleBtn {
    background-color: transparent;
    outline: #d32f2f 1px solid;
    color: #d32f2f;
  }
  