@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:root {
  --bg: white;
  --footerBg: #2a2a2a;
  --footerColor: #fffefe;
  --textColor: black;
  --softTextColor: #626262;
  --bannerText: #f0f0f0;
  --softBg: #f0f0f0;
  --introTextColor: #fff;
  --introSoftTextColor: #eeeeee;
  --btnBg: #61677a;
  --btnColor: #eeeeee;
  transition: ease-in-out 0.3s;
}

.light {
  --bg: white;
  --footerBg: #2a2a2a;
  --footerColor: #fffefe;
  --textColor: black;
  --softTextColor: #626262;
  --bannerText: #f0f0f0;
  --softBg: #f0f0f0;
  --introTextColor: #fff;
  --introSoftTextColor: #eeeeee;
  --btnBg: #61677a;
  --btnColor: #eeeeee;
  /* transition: ease-in-out 0.3s; */
}

.dark {
  --bg: #0a0b0c;
  --textColor: #ddd;
  --softBg: #0e0f13;
  --softTextColor: #c0c5d0;
  --registerBtnBg: #272829;
  --iconTransform: 23px;
  --btnBgHover: #f7f5f2;
  --btnTextHover: #272829;
  --blockQuote: #f7f5f2;
  --codeBg: #f5f5f5;
  --codeColor: #272829;
  /* transition: ease-in-out 0.3s; */
}

html {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

#root {
  display: contents;
}

/* /// */

.card {
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  /* left: 0; */

  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.card.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.card.lastSlide {
  transform: translateX(-100%);
}
.card.nextSlide {
  transform: translateX(100%);
}

@media screen and (min-width: 700px) {
  .card {
    width: 500px;
    margin: 0 auto;
  }
}
/* App.css */
.chip-bar-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.chip-bar {
  display: inline-flex;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.chip {
  background-color: #0073e6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.chip.selected {
  background-color: #004e9e;
}

/* Style for the "Next" and "Previous" buttons */
.category-chip-bar > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

/* Style for the button container */
.cbutton-container {
  display: flex;
  align-items: center;
}

ul.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0;
}

@media screen and (min-width: 750px) {
}

ul.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--softBg);
}

.css-wjh20t-MuiPagination-ul > li > button {
  background-color: var(--softBg);
  color: var(--textColor);
}

.css-wjh20t-MuiPagination-ul
  > li
  > .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--softTextColor);
  color: var(--bg);
}

.css-tkn350-MuiTabs-root {
  background-color: var(--softBg);
  color: var(--textColor);
}
.css-tkn350-MuiTabs-root > 
.css-69z67c-MuiTabs-scroller >  
.css-heg063-MuiTabs-flexContainer > button {
  color: var(--textColor);
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper > ul{
  background-color: var(--softBg);
  color: var(--textColor);
}


.css-pe0pe4-MuiFormControl-root{
  background-color: var(--softBg);
  color: var(--textColor);
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  background-color: var(--softBg);
  color: var(--textColor);
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  background-color: var(--softBg);
  color: var(--textColor);
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: var(--textColor) !important

}

/* .MuiBox-root .css-1gsv261 > 
.css-1ujnqem-MuiTabs-root  > 
.css-1ujnqem-MuiTabs-root
>.css-1wf8b0h-MuiTabs-flexContainer > button
{
  background-color: var(--softBg);
  color: var(--textColor);
} */

.css-w8dmq8 > 
.css-1gsv261 > 
.css-1ujnqem-MuiTabs-root > 
.css-jpln7h-MuiTabs-scroller >
.css-1wf8b0h-MuiTabs-flexContainer >
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  /* background-color: var(--softBg) !important; */
  color: var(--textColor) !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: var(--softBg);
  color: var(--textColor);
}

.css-1k9ek97{
  background-color: var(--softBg)  !important;
  color: var(--textColor);
}


._tabs_9ieo0_181 .MuiBox-root .css-1k9ek97{
  background-color: var(--softBg);
  color: var(--textColor);
}

