.container {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxContainer,
.imgContainer {
  display: grid;
  gap: 30px;
  justify-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.img {
  width: 190px;
}

.gif {
  width: 70px;
}

.box {
  height: 250px;
  padding: 0.5rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.span {
  font-size: 0.9rem;
  color: var(--softTextColor);
}

.btn {
  outline: var(--softTextColor) 1px solid;
  padding: 0.5rem;
  width: 150px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  font-weight: 500;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}


.btn:active{
    background-color: var(--textColor);
    color: var(--bg);
}


.btn:hover{
    background-color: var(--textColor);
    color: var(--bg);
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
    border-radius: 5px;
}