.container {
  padding: 10px;
}

.btn {
  border: none;
  cursor: pointer;
}
.icon {
  font-size: 1.3rem;
}

.btn:hover > .icon {
color: tomato;
transition: ease-in 0.1s;
}
.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}