.container {
  padding: 10px;
}

.inputSelectContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.inputContainer {
  width: 70%;
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.icon {
  position: absolute;
  left: 5px;
  color: var(--softTextColor);
}

.input {
  width: 100%;
  border: 0;
  outline: 1px solid #0000003f;
  padding: 0.7rem 0.5em 0.7rem 2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

select {
  /* Reset Select */
  appearance: none;
  border: 0;
  box-shadow: none;
  outline: none;
  /* Personalize */
  padding: 0.77rem 0.5em;
  color: var(--textColor);
  background-image: none;
  cursor: pointer;
  width: 100%;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  overflow: hidden;
  outline: 1px solid #0000002d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.aicon {
  padding-right: 0.5rem;
  color: var(--softTextColor);
}

.cards {
  margin: 2.2rem 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.headingContainer {
  margin: 2.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingContainer > h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--textColor);
}

.tabs{
  display: flex;
  justify-content: center;
}

.page{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.formContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 10px 2rem;
  }

  .inputSelectContainer {
    width: 650px;
    margin: 0 auto;
  }
}


/* @media screen and (min-width:650px) {
  .tabs{
    width: 600px;
    margin: 0 auto;
  }
} */