.container {
  padding: 1rem;
}

.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.headingContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.headingpContainer {
  display: grid;
  justify-content: center;
  gap: 20px;
  text-align: center;
margin-bottom: 2rem;
}

.headingpContainer > h1 {
  font-size: 2.3rem;
  font-style: 500;
  color: var(--textColor);
}

.headingpContainer > p {
  font-size: 1.1rem;
  line-height: 150%;
  font-style: 400;
  color: var(--softTextColor);
}

.title {
  font-size: 1.5rem;
  color: var(--textColor);
}

@media screen and (min-width: 1024px) {
  .headingpContainer > h1 {
    font-size: 2.5rem;
  }

  .headingpContainer > p {
    font-size: 1.2rem;
  }
}
