.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}

.overlay {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 93, 93, 0.562);
}

.p {
  color: var(--bg);
  font-size: 1rem;
  padding: 0 0.5rem;
}

.topoverlay {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(48, 47, 47, 0.562);
}

.icon {
  color: var(--bg);
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
  .topoverlay,
  .overlay {
    opacity: 0;
    z-index: -1;
    transition: 0.2s ease-in;
  }

  .card:hover {
    cursor: pointer;
  }

  .card:hover > .topoverlay {
    opacity: 1;
    z-index: 1;
  }

  .card:hover > .overlay {
    opacity: 1;
    z-index: 1;
  }
}
