.container {
  padding: 10px;
}


@media screen and (min-width:700px) {
  .contentContainer, .box{
    width: 500px;
    margin: auto;
  }
}


@media screen and (min-width:1000px) {
  .contentContainer, .box{
    width: 800px;
    margin: auto;
  }
}