.container {
  padding: 10px;
  margin-bottom: 5rem;
}

.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  height: 270px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.textContainer {
  position: absolute;
  text-align: center;
  display: grid;
  gap: 10px;
  /* z-index: 1; */
}

.link {
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 20px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
}

.link:hover {
  background-color: var(--bg);
  color: var(--textColor);
}

.heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bannerText);
  text-shadow: 2px 4px 4px rgba(43, 44, 46, 0.6);
}

@media screen and (min-width: 1024px) {
  .cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 2fr));
  }
}
